.venv
*.pyc
/.idea
/atlassian-ide-plugin.xml
/.settings
/config.py
nohup.out
/build
/dist
/err.egg-info*
/config-*.egg
config_campfire.py
config_hipchat.py
config_irc.py
config_xmpp.py
config_tox.py
/docs/_build
/docs/_gh-pages
/docs/errbot.rst
/docs/errbot.*.rst
/.cache
/.coverage
/data
/config.py.*

*.log
*.crt

# OS X
.DS_Store
