include COPYING
include *.rst
include errbot/templates/*.md
include errbot/templates/*.tmpl
include errbot/templates/initdir/*.tmpl
include errbot/templates/initdir/*.plug
include errbot/templates/initdir/*.py
include errbot/core_plugins/templates/*.md
include tools/__init__.py
include tools/py2conv.py
prune tests/backend_tests
prune tests
