include *.rst
include errbot/builtins/*.plug
include errbot/*.svg
include errbot/templates/*.html
include errbot/builtins/templates/*.html
include errbot/builtins/web-static/*.html
include errbot/builtins/web-static/*.js
include errbot/builtins/web-static/stylesheets/*.css
