{% extends "base.html" %}
{% macro status(installed, public) -%}
[<span style='font-weight:bold;'>{% if installed %}*{% else %} {% endif %}{% if public %}P{% else %} {% endif %}</span>]
{%- endmacro %}
{% block body %}
<div style="font-family: monospace">
<p style='margin-top: 0; margin-bottom: 0;'>Repos (P = Private repo, * = installed):</p>
<p style='margin-top: 0; margin-bottom: 0; white-space:pre;'>
{% for installed, public, name, desc in repos %}
{{status(installed, public)}} {{ name }} {{desc}}<br/>
{% endfor %}
</p>
</div>
{% endblock %}
