{% extends "base.html" %}
{% block body %}
<div style="font-family: monospace">
<p style='margin-top: 0; margin-bottom: 0; font-weight:bold'>Yes I am alive... </p>
<p style='margin-top: 0; margin-bottom: 0;'>With those plugins (<span style='color:green'>L</span>=Loaded, <span style='color:red'>E</span>=Error, <span style='font-weight:bold'>B</span>=Blacklisted/Unloaded) :</p>
{% for status, name in plugins_statuses %}
    <p style='margin-top: 0; margin-bottom: 0;'>[{{ status }}] {{ name }}</p>
{% endfor %}
<p style='margin-top: 10px; margin-bottom: 0;'>
   Load {{loads[0]}}, {{loads[1]}}, {{loads[2]}}<br/>
   GC 0->{{gc[0]}} 1->{{gc[1]}} 2->{{gc[2]}}</p>
</div>
{% endblock %}