.. A new changelog fragment.
..
.. Uncomment the section for the type of change this fragment documents:
..
.. features:
.. - Describe the new feature here.
..
.. fixes:
.. - Describe the bug fix here.
..
.. docs:
.. - Describe the documentation change here.
..
.. deprecations:
.. - Describe the deprecation or removal here.
..
.. miscellaneous:
.. - Describe miscellaneous changes here.
