body {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment:fixed;
  background-size: contain;
  margin:0;
}

.receiving {
  background-color: #f8ebdf;
  border-color: #ed9d53;
  margin:5px;
  padding-top:5px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  border-style:solid;
  border-width: 1px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  opacity:0.8;
}

.sending {
  background-color: #dfdef7;
  border-color: #8fa9e6;
  margin:5px;
  padding-top:5px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  border-style:solid;
  border-width: 1px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  font-weight:bold;
  opacity:0.8;
}

pre {
  white-space: pre-line; 
  font-size:10px;
  border-width:1px;
  background-color:#DDDDDD;
  border-color: #555555;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
 }

table {
  margin:10px;
  box-shadow: 2px 2px 5px #999999;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 50%;
}

td{
  vertical-align:middle;
  border:0 solid #999999;
  border-width:0 0 0 0;
  font-size:14px;
  text-align:left;
  margin-left: 30px;
  font-family:Arial;
  color:#333333;
}

tr th{
  background:#9667b2;
  border:0 solid #999999;
  text-align:center;
  border-width:0 0 0 0;
  font-size:18px;
  font-family:Arial;
  font-weight:bold;
  color:#FFFFFF;
}

tr:last-child td:last-child {
  border-bottom-right-radius:5px;
}

table tr:first-child th:first-child {
  border-top-left-radius:5px;
}

table tr:first-child th:last-child {
  border-top-right-radius:5px;
}

tr:last-child td:first-child{
  border-bottom-left-radius:5px;
}

/* hack for demo purposes, left margin doesn't work */
tr td:first-child{
  text-align:center;
}

tr:nth-child(odd) td {
  background-color:#FFF3DC;
}

tr:nth-child(even) td {
  background-color:#FFF7EC;
}

*[color="red"] {
    color: red;
}

*[color="green"] {
    color: green;
}

*[color="yellow"] {
    color: orange;
}

*[color="blue"] {
    color: blue;
}

*[bgcolor="red"] {
    background-color: red;
}

*[bgcolor="green"] {
    background-color: green;
}

*[bgcolor="yellow"] {
    background-color: orange;
}

*[bgcolor="cyan"] {
    background-color: cyan;
}

*[bgcolor="blue"] {
    background-color: blue;
}

h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 20px; text-align: center; }

h3 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 25px; font-weight: 200; line-height: 27px; margin: 0 0 10px; text-align: center; }

body { color: #111; font-family: 'Arial', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }
