name: build docker image

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    if: github.repository_owner == 'errbotio'
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v3.1.0

    - name: build and push docker image
      uses: mr-smithers-excellent/docker-build-push@v5
      with:
        image: errbotio/errbot
        tags: latest
        registry: docker.io
        dockerfile: Dockerfile
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
